*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Remachine';
    src: url(font/RemachineScript_Personal_Use.woff);
}
@font-face{
    font-family: 'Subway';
    src: url(font/Subway-Black.woff);
}
body{
    background-color: #EEDED7;
    scroll-behavior: smooth;
}

html{ 
    overflow-x: hidden; 
    scroll-behavior: smooth;
    font-size: 62.5%;
} 

/* Menu */

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.hamburger-container{
	position: fixed;
	width: 80px;
	height: 80px;
	/* background-color: red; */
	top: 0;
	right: 0;
	margin-top: 3%;
	margin-right: 3%;
	z-index: 100;
}

.hamburger{
	position: absolute;
	background-color: #b5000f;
	width: 30px;
	height: 5px;
	top: 50%;
	transition: .2s;
}

.hamburger-container:hover .hamburger{
	width: 52px;
	transition: .2s;
}

.hamburger:before{
	position: absolute;
	display: block;
	content: '';
	top: 16px;
	width: 52px;
	height: 5px;
	background-color: #b5000f;
	transition: .2s;
}

.hamburger:after{
	position: absolute;
	display: block;
	content: '';
	top: -16px;
	width: 52px;
	height: 5px;
	background-color: #b5000f;
	transition: .2s;
}

.hamburger-container.active .hamburger{
	background-color: rgba(0,0,0,0);
}

.hamburger-container.active .hamburger:before{
	left: 0;
	top: 0;
	transform: rotate(45deg);
	transition: .2s;
}

.hamburger-container.active .hamburger:after{
	left: 0;
	top: 0;
	transform: rotate(-45deg);
	transition: .2s;
}

.menu-container{
	top: 0;
	transform: translateX(100%);
	position: fixed;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.81);
	width: 100%;
	height: 100vh;
	transition: .4s;
}

.menu-container.active{
	transform: translateX(0);
	transition: .4s;
}

.menu-list{
	height: 70%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.menu-list li a {
	color: #eeded7;
	font-family: 'Remachine';
	font-size: 3.5vw;
	position: relative;
}

.menu-list2 li a {
	font-family: 'Subway';
	font-size: 1.7vw;
    position: relative;
    padding-left: 100px;
}

.menu-list li a:hover{
    color: #b5000f ;
    transition: 0.5s;
}

.home-container{
    height: 100vh;
    width: 100%;
    background-image: url(img/fond.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.logo-home{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vh;
}

.link-container-home{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 16%;
    right: 10%;
    height: 30vh;
    justify-content: space-around;
    font-family: 'Subway';
}

.link-container-home a{
    color: #b5000f;
    font-size: 4rem;
}

.link-container-home a:nth-child(3),.link-container-home a:nth-child(4){
    color: #EEDED7;
}

.link-container-home a:hover{
    color: #000;
}


/*
 * Mobile
 */
@media screen and (max-width: 768px) {
    .menu-list li a {
        font-size: 10vw;
    }
    
    .menu-list2 li a {
        font-size: 5vw;
        padding-left: 70px;
    }

    .maelleRabouan{
        width: 20vw;
        position: absolute !important;
        transform: translateX(-50%) translateY(-50%);
        top: 7%;
        left: 17%;
    }

    .push-all{
        width: 100%;
        margin-top: 40vh;
    }

    .home-container{
        background-image: url(img/fondphone.png);
        height: 60vh;
        position: unset;
    }

    .logo-home{
        top: 5%;
        left: 3%;
        transform: translate(0,0);
        height: 5vh;
    }

    .link-container-home{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 47%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 30vh;
        width: 80%;
        justify-content: space-around;
        font-family: 'Subway';
    }

    .link-container-home a{
        font-size: 2rem;
    }
}
/*
* Tablet
*/
@media screen and (min-width: 768px) and (max-width: 899px) {
    .menu-list li a {
        font-size: 7vw;
    }
    
    .menu-list2 li a {
        font-size: 3vw;
        padding-left: 70px;
    }

    .maelleRabouan{
        width: 15vw;
        position: absolute !important;
        transform: translateX(-50%) translateY(-50%);
        top: 5%;
        left: 13%;
    }

    .push-all{
        width: 100%;
        margin-bottom: 30vh; 
    }


    .home-container{
        background-image: url(img/fondtab.png);
        background-size: cover;
        height: 75vh;
        /* margin-top: 42.5vh; */
        position: unset;
    }

    .logo-home{
        top: 5%;
        left: 3%;
        transform: translate(0,0);
        height: 5vh;
    }

    .link-container-home{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 47%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 30vh;
        width: 80%;
        justify-content: space-around;
        font-family: 'Subway';
    }

    .link-container-home a{
        font-size: 4rem;
    }
}
/*
* Petits ecrent
*/
@media screen and (min-width: 900px) and (max-width: 1389px) {

    .list-work{
        top: 67vh;
        left: 70vw;
    }
}
/*
* FullHD
*/
@media screen and (min-width: 1390px) {

    .list-work{
        top: 67vh;
        left: 70vw;
    }
}
/*
Smartphone en mode portait 
*/
@media only screen and (max-width: 767px) and (orientation: portrait) {}